footer
  #logo_description
    span.logo
      img(src='/assets/img/logo-removebg-preview.png', alt='logo')
      h1 Megoc
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sollicitudin consectetur elit.
      | Nulla facilisi. Nulla eget turpis id tellus rhoncus sollicitudin vitae in turpis. Nam sodales aliquam mauris,
      | nec pharetra lacus luctus quis. Maecenas quis pretium augue, a posuere nisi. Phasellus bibendum dignissim enim, vitae pretium massa consequat non. Nulla cursus euismod quam et euismod. Duis quis velit vulputate lorem ultrices sollicitudin a ut est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce a lobortis odio, at feugiat metus. Fusce at ante facilisis, interdum massa non,
      | tristique purus. Pellentesque scelerisque velit non accumsan aliquet.
      | Mauris porttitor ante arcu, sed mattis magna sodales a.
  #email_social_links
    h3 Contacto
    span#social_links
      i.fas.fa-envelope
      p info@megoc.com
      br
      i.fab.fa-twitter
      i.fab.fa-instagram
      i.fab.fa-youtube
      i.fab.fa-facebook-square
  #sites
    h3 Enlaces
    ul#footer_menu_sites
      li
        a(href='#') Conciertos
      li
        a(href='#') Galer&iacute;a
      li
        a(href='#') Quienes Somos
      li
        a(href='#') Te gusta la m&uacute;sica?
      li
        a(href='#') Contacta
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sollicitudin consectetur elit.
      | Nulla facilisi. Nulla eget turpis id tellus rhoncus sollicitudin vitae in turpis. Nam sodales aliquam mauris,
      | nec pharetra lacus luctus quis. Maecenas quis pretium augue, a posuere nisi. Phasellus bibendum dignissim enim, vitae pretium massa consequat non. Nulla cursus euismod quam et euismod. Duis quis velit vulputate lorem ultrices sollicitudin a ut est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce a lobortis odio, at feugiat metus. Fusce at ante facilisis, interdum massa non,
      | tristique purus. Pellentesque scelerisque velit non accumsan aliquet.
  #cookies_sites
    ul#footer_menu_cookies
      li
        a(href='#') Condiciones de uso
      li
        a(href='#') Pol&iacute;tica de Privacidad y Cookies
      li
        a(href='#') Preguntas Frecuentes
  #copyright
    em Megoc
    |
    | - Todos los derechos reservados
