
<header><a href="#"><img id="logo" src="assets/img/logo-removebg-preview.png" alt="logo"/>
    <h1>Megoc</h1></a><i class="icon_menu fas fa-bars fa-2x"></i>
  <nav class="mobile_menu">
    <ul>
      <li><a href="#">Conciertos</a></li>
      <li><a href="#">Galer&iacute;a</a></li>
      <li><a href="#">Quienes Somos</a></li>
      <li><a href="#">Te gusta la m&uacute;sica?</a></li>
      <li><a href="#">Contacta</a></li>
    </ul>
  </nav>
  <nav id="pc_menu">
    <ul>
      <li><a href="#">Conciertos</a></li>
      <li><a href="#">Galer&iacute;a</a></li>
      <li><a href="#">Quienes Somos</a></li>
      <li><a href="#">Te gusta la m&uacute;sica?</a></li>
      <li><a href="#">Contacta</a></li>
    </ul>
  </nav>
</header>