header
  a(href='#')
    img#logo(src='assets/img/logo-removebg-preview.png', alt='logo')
    h1 Megoc
  i.icon_menu.fas.fa-bars.fa-2x
  nav.mobile_menu
    ul
      li
        a(href='#') Conciertos
      li
        a(href='#') Galer&iacute;a
      li
        a(href='#') Quienes Somos
      li
        a(href='#') Te gusta la m&uacute;sica?
      li
        a(href='#') Contacta
  nav#pc_menu
    ul
      li
        a(href='#') Conciertos
      li
        a(href='#') Galer&iacute;a
      li
        a(href='#') Quienes Somos
      li
        a(href='#') Te gusta la m&uacute;sica?
      li
        a(href='#') Contacta
